# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
mcp-*.tar

# Temporary files, for example, from tests.
/tmp/

# Ignore all .env files
.env*

# Ignore all manual testing livebooks
*.livemd

# Ignore all llm context 
.llm-context/*
